.navbar {
  background-color: rgb(20, 64, 146);
}
.navbar .nav-link {
  color: white;
}
/* Fondo del botón */
button.navbar-toggler {
  background-color: rgb(255, 130, 77);
  border: none; /* opcional */
}

/* Líneas blancas */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
